/* 
#020659
#020873
#030A8C
#0D8DFB
#2104D9
#2699FB
#590242
*/

* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    box-sizing: border-box;
}

html {
    background-color: #020659;
}

body {
    max-width: 834px;
    margin: 0 auto;
}

header {
    display: grid;
}

.header {
    order: 1;
    background-image: linear-gradient(to right, #2104D9, #020659, black);
    padding: 0px 25px;
}

.header h1 {
    text-transform: uppercase;
}

.header h1,
.header p {
    margin: 10px 0px;
}

.plum,
#trending h3,
dt,
dd {
    color: #590242;
}

input {
    display: none;
}

nav {
    background-color: #020873;
    order: 0;
    display: inline-flex;
}

nav h2 a {
    text-decoration: none;
}

nav a {
    margin: 0 0 20px 0;
}

nav > h2, nav > ul {
    list-style-type: none;
    background-color: #020873;
    margin: 0;
    padding: 15px 10px;
    align-items: center;
}

ul {
    display: inline-flex;
    flex: 1 1 auto;
}

nav:hover {
    background-color: #590242;
}

li {
    flex: 1;
    font-variant: all-small-caps;
    text-align: center;
}

li a {
    text-decoration: none;
}

.smallcaps {
    font-variant: small-caps;
    font-size: 1.5rem;
    font-weight: 600;
}

#smallcaps {
    text-align: left;
}

main {
    width: 100%
}

main,
footer {
    background-color: #fff;
}

#trending h2,
#playlists h2,
#curated h2 {
    margin: 0px;
    padding: 30px 25px 8px 25px;
    text-transform: uppercase;
}

#playlists h2,
#curated h2 {
    padding-bottom: 15px;
}

#trending>div {
    display: flex;
    /* --------------------scroll bar---------------------- */
    overflow: auto;
}

#trending article {
    margin: 10px;
}

h1 {
    font-size: 1.25em;
}

h2,
h3 {
    font-size: 1em;
}

p,
dl,
dd {
    font-size: 1em;
}

dt {
    display: inline-block;
}

dd {
    display: inline-block;
    margin: 0 auto;
}

footer p {
    font-size: .75em;
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

.aloma {
    float: left;
    position: relative;
}

#aloma-audio {
    position: absolute;
    top: 35%;
    left: 2%
}

.myroad {
    float: left;
    position: relative;
}

#myroad-audio {
    position: absolute;
    top: 35%;
    left: 2%
}

.papaya {
    float: left;
    position: relative;
}

#papaya-audio {
    position: absolute;
    top: 35%;
    left: 2%
}

.smoothies {
    float: left;
    position: relative;
}

#smoothies-audio {
    position: absolute;
    top: 35%;
    left: 2%
}

.successful {
    float: left;
    position: relative;
}

#successful-audio {
    position: absolute;
    top: 35%;
    left: 2%
}

.trendingartist {
    position: absolute;
    bottom: 0%;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    padding: 10px;
}

.trendingartist h3 {
    margin: 0px 0px 10px 0px;
    text-transform: uppercase;
}

.trendingartist dl {
    margin: 0;
}

dt {
    font-style: italic;
}

.button {
    background-color: #590242;
    border: none;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    margin: 0px 10px;
}

.button:hover {
    background-color: #020659;
}

#trending>p,
#playlists>p,
#curated>p {
    text-align: right;
}

main>div {
    display: flex;
    flex: 0 1 auto;
}

main>div section {
    max-width: 50%;
}

#playlists div,
#curated div {
    max-height: 510px;
    /* --------------------scroll bar---------------------- */
    overflow: auto;
}

#playlists div {
    background-color: #2699FB;
}

#curated div {
    background-color: #020873;
}

.curatedlist {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: 30px 1fr;
    background-color: rgba(2, 0, 52, 0.199);
    margin: 10px 10px 20px 10px;
    padding: 10px;
}

.curatedlist:hover {
    background-color: #590242;
}

.curatedlist img {
    grid-column: 1;
    grid-row: 1 / 3;
}

.curatedlist h3 {
    grid-column: 2;
    grid-row: 1;
    margin: 10px;
    text-align: center;
    text-transform: uppercase;
}

.curatedlist p {
    grid-column: 2;
    grid-row: 2;
    margin: 10px;
    text-align: center;
    line-height: 1.1;
}

audio::-webkit-media-controls-mute-button {
    background-color: #fff;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button {
    background-color: #fff;
    border-radius: 50%;
}

audio::-webkit-media-controls-enclosure {
    background-color: rgba(255, 255, 255, .5);
}

#trending ::-webkit-scrollbar {
    width: 15px;
}

#trending ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #590242;
}

#trending ::-webkit-scrollbar-thumb {
    background: #590242;
    border-radius: 5px;
}

#trending ::-webkit-scrollbar-thumb:hover {
    background: #020659;
}

#playlists ::-webkit-scrollbar,
#curated ::-webkit-scrollbar {
    width: 15px;
}

#playlists ::-webkit-scrollbar-track,
#curated ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 15px #020659;
}

#playlists ::-webkit-scrollbar-thumb,
#curated ::-webkit-scrollbar-thumb {
    background: #020659;
    border-radius: 5px;
}

#playlists ::-webkit-scrollbar-thumb:hover,
#curated ::-webkit-scrollbar-thumb:hover {
    background: #fff;
}

@media screen and (max-width: 375px) {

    #trending > p, #playlists > p, #curated > p {
        text-align: left;
    }

    main > div {
        display: inline-block;
    }

    main > div section {
        max-width: 375px;
        max-width: 100vw;
    }

    #playlists div, #curated div {
        display: flex;
        overflow: auto;
        max-width: 375px;
    }

    .curatedlist {
        display: block;
    }

    header {
        grid-template-columns: 100vw;
        overflow: hidden;
    }

    header p {
        max-width: 100%;
    }

    ul {
        display: flex;
    }

    html, body {
        max-width: 375px;
    }

    nav {
        display: block;
    }

    nav ul {
        text-align: center;
        margin: 0;
        padding: 0;
        list-style: none;
        overflow: hidden;
        max-height: 0;
        display: block;
        transition: max-height .2s ease-out;
    }

    nav h2 {
        padding: 15px;
        text-align: center;
    }

    nav li a {
        display: block;
    }

    nav:hover {
        background-color: #020873;
    }

    nav li {
        margin: 10px 0px 15px 0px;
    }

    li:first-child {
        padding-top: 15px;
    }

    li:active {
        background-color: #020873;
    }

    label {
        cursor: pointer;
        display: inline-block;
        padding: 28px 20px;
        position: relative;
        user-select: none;
        position: absolute;
        top: 0px;
    }

    label span {
        background-color: #ffffff;
        display: block;
        height: 2px;
        position: relative;
        transition: background-color .2s ease-out;
        width: 18px;
    }
    label span:before, label span:after {
        background: #ffffff;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        transition: all .2s ease-out;
        width: 100%;
    }
    label span:before {
        top: 5px;
    }
    label span:after {
        top: -5px;
    }
    input {
        display: none;
    }
    input:checked ~ ul {
        max-height: 500px;
    }
    input:checked ~ label span {
        background: transparent;
    }
    input:checked ~ label span:before {
        transform: rotate(-45deg);
    }
    input:checked ~ label span:after {
        transform: rotate(45deg);
    }
    input:checked ~ label:not(.steps) span:before, input:checked ~ label:not(.steps) span:after {
        top: 0;
    }
    
    br {
        content:' ';
    }

    br:after {
        content:' ';
    }
}